container_commands:
  update-spring-datasource-url-value:
    command: sed -i "s/<RDS_HOSTNAME>/$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_HOSTNAME)/g; s/<RDS_PORT>/$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_PORT)/g; s/<RDS_DB_NAME>/$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_DB_NAME)/g" /opt/elasticbeanstalk/deploy/configuration/containerconfiguration

  update-spring-datasource-username-value:
    command: sed -i "s/<RDS_USERNAME>/$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USERNAME)/g" /opt/elasticbeanstalk/deploy/configuration/containerconfiguration

  update-spring-datasource-password-value:
    command: sed -i "s/<RDS_PASSWORD>/$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_PASSWORD)/g" /opt/elasticbeanstalk/deploy/configuration/containerconfiguration

  https-redirect-docker-sc:
    command: cp .ebextensions/nginx/elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/sites-available/
    test: '[ "$(/opt/elasticbeanstalk/bin/get-config environment -k CONFIG_PROFILE)" == "production" ]'
